{{>user-navbar}}

  <!--================ confirmation part start =================-->
  <section class="confirmation_part padding_top mt-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="confirmation_tittle">
            <span class="text-success" >Thank you. Your order has been received.</span>
          </div>
        </div>
        <div class="col-lg-6 col-lx-4">
          <div class="single_confirmation_details">
            <h4>Delivering To</h4>
            <ul>
              <li>
               <p>{{confirmDetails.username}}</p> <br>
              </li>
              <li>
                <p>{{confirmDetails.mobilenumber}}</p><br>
              </li>
              <li>
                <p>{{confirmDetails.housename}}</p><br>
              </li>
              <li>
                <p>{{confirmDetails.area}}, {{confirmDetails.city}}</p><br>
              </li>
              
              <li>
                <p>{{confirmDetails.state}},  {{confirmDetails.country}}</p><br>
              </li>
              <li>
                <p>{{confirmDetails.pincode}}</p>
              </li>
              
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-lx-4">
          <div class="single_confirmation_details">
            <h4>Order Info</h4>
            <ul>
              
              <li>
                <p>Payment Method</p><span>: {{productDetails.payment_Method}}</span>
              </li>
              <li>
                <p>Amount</p><span>: {{productDetails.grandTotal}}</span>
              </li>
              <li>
                <p>Ordered On</p><span>: {{productDetails.ordered_on}}</span>
              </li>
              
            </ul>
          </div>
        </div>
       
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="order_details_iner">
            <h3>Order Details</h3>
            <table class="table table-borderless">
              <thead>
                <tr>
                  <th scope="col" colspan="2">Product</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Total</th>
                </tr>
              </thead>
              <tbody>
                {{#each productDetails.products}}
                <tr>
                  <th colspan="2"><span>{{pro_Id.name}}</span></th>
                  <th>{{this.quantity}}</th>
                  <th> <span>{{this.subtotal}}</span></th>
                </tr>
                {{/each}}
                
                
               
              </tbody>
              <tfoot>
                <tr>
                  <th scope="col" colspan="3">Total</th>
                  <th scope="col">{{productDetails.grandTotal}}</th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
       <a href="/" class="btn_3" style="font-size: 10px;">Go to home</a>
    <a href="/orders" class="btn_3" style="font-size: 10px;" >view order details</a>
    </div>
   
  </section>
  <!--================ confirmation part end =================-->

{{>user-footer}}