 {{>user-navbar}}
  <!-- Header part end-->


 
     {{#if searchProduct}} 
   <div class="container" style="margin-top: 135px;">
          <div class="row align-items-center">
                                {{#each searchProduct}}
                                <div class="col-lg-3 col-sm-6">
                                    <div class="single_product_item">
                                        <a href="/productdetails/{{this._id}}">
                                        <img src="/images/{{this.images.[0].image1}}" height="250px" width="220px" alt="">
                                        </a>
                                        <div class="single_product_text">
                                           <div class="d-flex justify-content-between"> <h4 style="font-weight: 300;" >{{this.name}}</h4>
                                              <button onclick="addToWishlist('{{this._id}}')"  style="background-color: transparent; border:none; font-size: 1.5em;" class=""><i class="fa fa-heart-o" aria-hidden="true"></i></button></div>
                                            <h3 style="font-weight: bolder" > ₹ {{this.price}}</h3>
                                            <div class="">
                                            <button onclick="addToCart('{{this._id}}')"  class="button-2 p-2">+ add to cart</button><br><br>
                                          

</div>

                                        </div>
                                       
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                            </div>
                     {{/if}}
                      

    <!-- banner part start   carousel-->
    {{#if product}}
    <section class="banner_part">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="banner_slider owl-carousel">
                        <div class="single_banner_slider">
                            <div class="row">
                                <div class="col-lg-5 col-md-8">
                                    <div class="banner_text">
                                        <div class="banner_text_iner">
                                            <h1>Wood & Cloth
                                                Sofa</h1>
                                            <p>Woodpecker has pretty much anything you could ever need in terms of furniture. From the latest in bedroom decor to a sturdy kitchen table.</p>
                                            <a href="#" class="btn_2">buy now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="banner_img d-none d-lg-block">
                                    <img src="img/banner_img.png" alt="">
                                </div>
                            </div>
                        </div><div class="single_banner_slider">
                            <div class="row">
                                <div class="col-lg-5 col-md-8">
                                    <div class="banner_text">
                                        <div class="banner_text_iner">
                                            <h1>Cloth & Wood
                                                Sofa</h1>
                                            <p>Woodpecker has pretty much anything you could ever need in terms of furniture. From the latest in bedroom decor to a sturdy kitchen table.</p>
                                            <a href="#" class="btn_2">buy now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="banner_img d-none d-lg-block">
                                    <img src="img/banner_img.png" alt="">
                                </div>
                            </div>
                        </div><div class="single_banner_slider">
                            <div class="row">
                                <div class="col-lg-5 col-md-8">
                                    <div class="banner_text">
                                        <div class="banner_text_iner">
                                            <h1>Wood & Cloth
                                                Sofa</h1>
                                            <p>Woodpecker has pretty much anything you could ever need in terms of furniture. From the latest in bedroom decor to a sturdy kitchen table.7</p>
                                            <a href="#" class="btn_2">buy now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="banner_img d-none d-lg-block">
                                    <img src="img/banner_img.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    {{!-- <div class="slider-counter"></div> --}}
                </div>
            </div>
        </div>
    </section>
    <!-- banner part start-->

   

    <!-- product_list start-->
      <section class="product_list section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="section_tittle text-center">
                        <h2>New Arrivals</h2>
                    </div>
                </div>
            </div>
           
                        {{!-- <div class="single_product_list_slider"> --}}
                            <div class="row align-items-center">
                                {{#each product}}
                                <div class="col-lg-3 col-sm-6">
                                    <div class="single_product_item">
                                        <a href="/productdetails/{{this._id}}">
                                        <img src="/images/{{this.images.[0].image1}}" height="250px" width="220px" alt="">
                                        </a>
                                        <div class="single_product_text">
                                           <div class="d-flex justify-content-between"> <h4 style="font-weight: 300;" >{{this.name}}</h4>
                                              <button onclick="addToWishlist('{{this._id}}')"  style="background-color: transparent; border:none; font-size: 1.5em;" class=""><i class="fa fa-heart-o" aria-hidden="true"></i></button></div>
                                            <h3 style="font-weight: bolder" > ₹ {{this.price}}</h3>
                                            <div class="">
                                            <button onclick="addToCart('{{this._id}}')"  class="button-2 p-2">+ add to cart</button><br><br>
                                          

</div>

                                        </div>
                                       
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{/if}}
  {{#unless searchProduct}}
  {{#unless product}}
  <div class="container" style="margin-top:220px; height:65vh ;">
                      <h2>We couldn't find any results for "{{searchText}}"</h2>
                      {{/unless}} 
                         {{/unless}} 
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/javascripts/ajax.js"></script>
     {{>user-footer}}

