<header class="main_menu home_menu">
        <div class="container mt-4">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="/">
                            <h2>Wood Pecker</h2>
                        </a>
                        <div class="collapse navbar-collapse main-menu-item" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                            </ul>
                        </div>
                        <div class="hearer_icon d-flex">
                            <a href="/wishlist"><i class="ti-heart" style="font-size: 1.5em"></i><span
                                    class="badge badge-success" id="wishlist-count">{{wishlistCount}}</span></a>
                            <a href="/cart"><i class="fas fa-cart-plus" style="font-size: 1.5em"></i><span
                                    class="badge badge-success" id="cart-count">{{cartCount}}</span>
                            </a>
                            {{#if user}}
                            <div>
                                <a class="text-dark p-4" href="/profile">My Account</a>
                                <a class="text-dark p-4" href="/orders">My Orders</a>
                                <a class="text-dark p-4" href="/logout">Logout</a>
                            </div>
                            {{else}}
                            <div><a class="text-dark p-4  " href="/login"> Login</i></a></div>
                            {{/if}}
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>


<div class="container">
<table class="table" style="margin-top:100px ;">
  <thead>
    <tr>
      <th scope="col">Ordered On</th>
         <th scope="col">Amount</th>
     
   
      <th scope="col">Payment Method</th>
         <th scope="col">Status</th>
      <th scope="col">Order Detail</th>
    </tr>
  </thead>
  <tbody>
    {{#each orders}}
    <tr>
      <th scope="row">{{this.ordered_on}}</th>
      <td>{{this.grandTotal}}</td>
      <td>{{this.payment_Method}}</td>
      <td>{{this.status}}</td>
      <td><a href="/order-detail{{this._id}}" style="font-size:10px ;" class="btn_3">view Order</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>


