<body style="margin-top: 120px;">
    

{{>user-navbar}}

<div class="container rounded bg-white mt-5 mb-5"  style="margin-top: 300px;" >
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">{{details.username}}</span><span class="text-black-50">{{details.email}}</span><span> </span></div>
        </div>
          {{!-- <form action="/address" method="post"> --}}
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">  
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
              <form action="/addprofile" method="post">
                <div class="row mt-2">
                    <div class="col-md-12"><label class="labels">Name</label><input type="text" name="username" class="form-control" placeholder="first name" value="{{details.username}}"></div>
                    {{!-- <div class="col-md-6"><label class="labels">Surname</label><input type="text" class="form-control" value="" placeholder="surname"></div> --}}
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Mobile Number</label><input type="text" name="phonenumber"  class="form-control" placeholder="enter phone number" value="{{details.mobilenumber}}"></div>
                     <div class="col-md-12"><label class="labels">Email ID</label><input type="text" name="email" class="form-control" placeholder="enter email id" value="{{details.email}}"></div>
                    <div class="col-md-12"><label class="labels">House Name</label><input type="text" name="house_name" class="form-control" placeholder="enter house name" value="{{details.housename}}"></div>
                    {{!-- <div class="col-md-12"><label class="labels">Address Line 2</label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div> --}}
                    <div class="col-md-12"><label class="labels">Pincode</label><input type="number" name="pincode" class="form-control" placeholder="enter pincode" value="{{details.pincode}}"></div>
                                        <div class="col-md-12"><label class="labels">Area</label><input type="text" name="area" class="form-control" placeholder="enter area" value="{{details.area}}"></div>
                     <div class="col-md-12"><label class="labels">City</label><input type="text" name="city" class="form-control"  placeholder="enter city" value="{{details.city}}"></div>

                   
                   
                    {{!-- <div class="col-md-12"><label class="labels">Education</label><input type="text" class="form-control" placeholder="education" value=""></div> --}}
                </div>
                <div class="row mt-3">
                   
                    <div class="col-md-6"><label class="labels">State/Region</label><input type="text" name="state" class="form-control" value="{{details.state}}" placeholder="state"></div>
                     <div class="col-md-6"><label class="labels">Country</label><input type="text" name="country"  class="form-control" placeholder="country" value="{{details.country}}"></div>
                </div>
                <div class="mt-5 text-center"><input class="btn btn-primary profile-button" type="submit" value="Save Profile" ></div>
                </form>
            </div>
        </div>
        {{!-- </form> --}}
        {{!-- <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience"><span>Edit Experience</span><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Experience</span></div><br>
                <div class="col-md-12"><label class="labels">Experience in Designing</label><input type="text" class="form-control" placeholder="experience" value=""></div> <br>
                <div class="col-md-12"><label class="labels">Additional Details</label><input type="text" class="form-control" placeholder="additional details" value=""></div>
            </div>
        </div> --}}
    </div>
</div>
</div>
</div>

 {{>user-footer}}
 </body>