<!doctype html>
<html lang="zxx">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>aranaz</title>
  <link rel="icon" href="img/favicon.png">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <!-- animate CSS -->
  <link rel="stylesheet" href="/stylesheets/animate.css">
  <!-- owl carousel CSS -->
  <link rel="stylesheet" href="/stylesheets/owl.carousel.min.css">
  <!-- nice select CSS -->
  <link rel="stylesheet" href="/stylesheets/nice-select.css">
  <!-- font awesome CSS -->
  <link rel="stylesheet" href="/stylesheets/all.css">
   <link rel="stylesheet" href="/stylesheets/lightslider.min.css">
  <!-- flaticon CSS -->
  <link rel="stylesheet" href="/stylesheets/flaticon.css">
  <link rel="stylesheet" href="/stylesheets/themify-icons.css">
  <!-- font awesome CSS -->
  <link rel="stylesheet" href="/stylesheets/magnific-popup.css">
  <!-- swiper CSS -->
  <link rel="stylesheet" href="/stylesheets/slick.css">
  <link rel="stylesheet" href="/stylesheets/price_rangs.css">
  <!-- style CSS -->
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
{{>user-navbar wishlistCount=wishlistCount}} 

  <!--================Single Product Area =================-->
   <div class="container mt-5">
  <div class="row">
  <div class="product_image_area section_padding mt-5">
   
      <div class="row s_product_inner justify-content-between">
        <div class="col-lg-8 ">
          <div class="product_slider_img">
            <div id="vertical">
              <div data-thumb="/images/{{productDetail.images.[0].image1}}">
               <img src="/images/{{productDetail.images.[0].image1}}" height="400px" alt="">
              </div>
              <div data-thumb="/images/{{productDetail.images.[0].image2}}">
                <img src="/images/{{productDetail.images.[0].image2}}" height="400px" />
              </div>
              <div data-thumb="/images/{{productDetail.images.[0].image3}}">
                <img src="/images/{{productDetail.images.[0].image3}}" height="400px" />
              </div>
              <div data-thumb="/images/{{productDetail.images.[0].image4}}">
                <img src="/images/{{productDetail.images.[0].image4}}" height="400px" />
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 ">
          <div class="s_product_text">
            <h3>{{productDetail.name}}</h3>
            <h2>{{productDetail.price}}</h2>
            <ul class="list">
              <li>
                <a class="active" href="#">
                  <span>Category</span> : {{categoryName}}</a>
              </li>
              <li>
                <a class="active" href="#">
                  <span>Brand</span> : {{brand.brand_name}}</a>
              </li>
              <li>
                <a href="#" class="active">
                   <span>Availibility</span> : {{productDetail.stock}}</a>
              </li>
            </ul>
            <p>
              {{productDetail.description}}
            </p>
            <div class="card_area d-flex justify-content-between align-items-center">
              <button onclick="addToCart('{{productDetail._id}}')" href="#" class="btn_3">add to cart</button>
              <button onclick="addToWishlist('{{productDetail._id}}')"  style="background-color: transparent; border:none; href="#" class="like_us"> <i class="ti-heart"></i> </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!--================End Single Product Area =================-->

  

 

  <!--::footer_part start::-->

{{>user-footer}}
  <!--::footer_part end::-->
                                    

  <!-- jquery plugins here-->
  <!-- jquery -->
  <script src="/javascripts/ajax.js"></script>
  <script src="/javascripts/jquery-1.12.1.min.js"></script>
  <script src=""></script>
  <!-- popper js -->
  <script src="/javascripts/popper.min.js"></script>
  <!-- bootstrap js -->
  <script src="/javascripts/bootstrap.min.js"></script>
  <!-- easing js -->
  <script src="/javascripts/jquery.magnific-popup.js"></script>
  <!-- swiper js -->
  <script src="/javascripts/lightslider.min.js"></script>
  <!-- swiper js -->
  <script src="/javascripts/masonry.pkgd.js"></script>
  <!-- particles js -->
  <script src="/javascripts/owl.carousel.min.js"></script>
  <script src="/javascripts/jquery.nice-select.min.js"></script>
  <!-- slick js -->
  <script src="/javascripts/slick.min.js"></script>
  <script src="/javascripts/swiper.jquery.js"></script>
  <script src="/javascripts/jquery.counterup.min.js"></script>
  <script src="/javascripts/waypoints.min.js"></script>
  <script src="/javascripts/contact.js"></script>
  <script src="/javascripts/jquery.ajaxchimp.min.js"></script>
  <script src="/javascripts/jquery.form.js"></script>
  <script src="/javascripts/jquery.validate.min.js"></script>
  <script src="/javascripts/mail-script.js"></script>
  <script src="/javascripts/stellar.js"></script>
  <!-- custom js -->
  <script src="/javascripts/theme.js"></script>
  <script src="/javascripts/custom.js"></script>
</body>

</html>