{{>user-navbar}}


<!--================Cart Area =================-->
<section class="cart_area padding_top mt-5">
    <div class="container">
          <h2 class="mb-4">My Wishlist</h2> 
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Product name</th>
                            <th scope="col">Price</th>

                        </tr>
                    </thead>
                    <tbody>

                        {{#each wishlistItems.products}}

                        <tr>
                            <td>
                                <div class="media">
                                    <div class="d-flex">
                                        <img height="100px" width="125px"
                                            src="/images/{{this.pro_Id.images.[0].image1}}" alt="">
                                        {{!-- <img src="img/product/single-product/cart-1.jpg" alt="" /> --}}
                                    </div>
                                    <div class="media-body">
                                        <p></p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <h5>{{this.pro_Id.name}}</h5>
                            </td>
                            <td>
                                <h5>{{this.pro_Id.price}}</h5>
                            </td>
                            
                             <td>
                            <button onclick="addToCart('{{this.pro_Id._id}}')" class="btn_1" style="border: none;" >+ add to cart</button>
                        </td>
                                  <td>
                           <button onclick="deleteItem('{{this._id}}')" style="border: none;" ><i class="fa fa-trash" aria-hidden="true" style="font-size: 1.5em" ></i></button>
                        </td>
                             
                        </tr>
                      
                        {{/each}}
                   


                    </tbody>
                </table>
                <div class="checkout_btn_inner float-right">
                    <a class="btn_1" href="#">Continue Shopping</a>
                    
                </div>
            </div>
        </div>
</section>
<!--================End Cart Area =================-->

<!--::footer_part start::-->
  {{!-- {{>user-footer}} --}}
<script src="/javascripts/ajax.js"></script>